.d-block {
    height: 300px;
    object-fit: cover;
}

.carousel-caption.d-md-block {
    background-color: rgba(99, 99, 99, 0.49);
    padding: 5px;
    border-radius: 10px;
}

body {
    font-family: "Open Sans", sans-serif !important;
    padding-top: 50px;
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
}


.main-container {
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 70px;
}


.nav-link {
    font-size: 20px;
    color: #2f2f2f !important;
    display: inline-block !important;
}

.navbar-brand {
    padding: 10px;
}

.navlink.logout {
    color: coral !important;
}

.nav-item + .nav-item {
    margin-left: 10px;
}

.nav-item {
    transition: .2s;
    padding: 5px 10px;
}

.nav-item:hover {
    background-color: #dcdcdc;
}

.navbar {
    padding: 0 !important;
}

.navbar-collapse {
    margin: 0 !important;
}

.header {
    width: 100%;
    left: 0;
    top: 0;
    min-height: 250px;
    z-index: -1;
    background-image: url("/static/bg2.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.find-fly {
    content: "";
    position: relative;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    min-height: 300px;
    padding: 20px;
}

.find-fly .section-header {
    border-left: none !important;
    font-size: 2.5rem;
    font-weight: 600 !important;
    padding-top: 0;
    margin-top: 0;
}

.header-text {
    font-size: 50px;
    font-weight: 300 !important;
}

.section-header {
    /*border-left: 5px grey solid;*/
    /*padding-left: 10px;*/
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}


.subsection-header {
    /*border-left: 3px #a3a3a3 solid;*/
    /*padding-left: 10px;*/
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*.table thead tr th {*/
/*    background: #484848;*/
/*    color: #ededed;*/
/*}*/

.table tbody tr th {
    font-weight: 400 !important;
    vertical-align: middle;
}

.edit-button {
    background-image: url("/static/pencil.png");
}

.delete-button {
    background-image: url("/static/bin.png");
}

.more-button {
    background-image: url("/static/more.png");
}

.orders-button {
    background-image: url("/static/orders.png");
}

.copy-button {
    padding: 5px !important;
    background-image: url("/static/copy.png");
}

.copy-button.active {
    background-color: #c5f7bc !important;
}

.copy-area {
    transition: .4s;
    width: fit-content;
    padding: 3px 7px;
    border-radius: 10px;
}

.copy-area.active {
    background-color: #c5f7bc;
}

.action-button {
    width: 40px;
    height: 40px;
    padding: 2px;
    background-color: transparent;
    transition: .3s;
    border-radius: 20px;
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    border: none;
    margin: 0 !important;
    outline: none !important;
}

.action-button:hover {
    background-color: #bebebe;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.nav-icon {
    display: inline-block !important;
    width: 30px !important;
    height: 30px !important;
}

.nav-item {
    white-space: nowrap;
}

.navbar {
    background-color: whitesmoke;
}


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    padding: 10px 0;
    margin-top: 30px;
}

.index-info {
    text-align: center
}

.index-info .logo {
    height: 200px;
    width: auto;
}

.index-info-header {
    font-size: 30px;
    font-weight: 600;
}

.index-info-group {
    margin-left: 30px;
    margin-right: 30px;
}

.index-info-group + .index-info-group {
    margin-top: 30px;
}

.no-content {
    font-size: 25px;
    font-weight: 300;
}

.no-content:after {
    content: "W tej chwili puste...";
}


.login-bg {
    background-image: linear-gradient(45deg, #907ffa, #57abff);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.login-field {
    position: relative;
    top: 50%;
    left: 50%;
    width: 500px;
    min-height: 500px;
    background: whitesmoke;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    padding: 0 15px;
    transition: 400ms;
}

.login-title {
    font-weight: 300;
    font-size: 30px;
    padding: 15px 10px;
}

.login-body {
    /*height: auto;*/
    transition: height 100ms;
}

.login-body.hidden {
    height: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.login-body.signin {
    margin-top: 70px;
    margin-bottom: 15px;
}

.login-body.signup {
    padding-top: 20px;
    padding-bottom: 30px;
}

.login-option {
    color: #9b9b9b;
    text-decoration: none !important;
    font-weight: 400;
    transition: .3s;
}

.login-option:hover, .login-option.active {
    color: black;
    text-decoration: none !important;
}

.btn-div.right {
    float: right;
    margin-top: 10px;
    white-space: nowrap;
}

.png-btn {
    background-color: transparent;
    border: 0 !important;
    outline: none !important;
    width: 35px;
    height: 35px;
    background-size: cover;
    cursor: pointer;
    display: inline;
}

.png-btn + .png-btn {
    margin-left: 15px;
}


.new-btn {
    background-image: url("/static/new.png");
}

.new-btn.large {
    width: 45px;
    height: 45px;
}

.update-btn {
    background-image: url("/static/update.png");
}

.collapse-new {
    /*border-bottom: 1px grey solid;*/
    margin-bottom: 20px;
    padding-top: 10px;
}

.underlined {
    text-decoration: underline;
}

.img-status {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: cover;
    padding: 0;
    filter: opacity(30%);
}

.img-status.plane {
    background-image: url("/static/plane.ico");

}

.img-status.active {
    filter: none
}

.img-status.pilot {
    background-image: url("/static/pilot.png");
}


.flight-status-div {
    height: 35px;
}


.btn-collapse-result {
    background-color: white;
    height: 80px;
    padding: 7px;
    text-align: center;
    font-size: 1.3rem;
    outline: none !important;
}

.btn-collapse-result-content {
    display: flex !important;
    overflow-wrap: break-word;
}

.btn-collapse-result:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-collapse-result-content .airline {
    font-size: 1.7rem;
    font-weight: 400;
    flex: 0 1 25%;
    line-height: 60px;
}

.btn-collapse-result-content .description {
    flex: 0 1 60%;
    display: flex;
    flex-flow: row wrap;
}

.btn-collapse-result-content .price {
    flex: 0 1 15%;
    border-left: 1px solid #2f2f2f;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #0069d9;
    line-height: 60px;

}

.btn-collapse-result-content .description .from, .btn-collapse-result-content .description .to {
    flex: 0 1 30%;
    flex-direction: column;
}

.btn-collapse-result-content .description .time {
    font-size: 1.6rem;
}

.btn-collapse-result-content .description .arrow {
    flex: 0 1 40%;
}


.btn-collapse-result-content .description .arrow .line {
    position: relative;
    height: 2px;
    width: 80%;
    margin: 5px 10%;
    background-color: #2f2f2f;
}

.btn-collapse-result:hover, .btn-collapse-result[aria-expanded="true"] {
    background-color: #e1e1e1;
}

.card + .card {
    margin-top: 20px;
}

.collapse-result button {
    float: right;
    margin-bottom: 15px;
}

.collapse-result .card-body {
    padding: .375rem .75rem;
}

.collapse-result .card-body .level-splitted {
    padding: 15px 0;
    display: flex;
    font-size: 1.4rem;
}

.collapse-result .card-body .left-part {
    flex: 0 1 10%;
    padding-right: 20px;
}

.left-part div {
    text-align: right;
    font-weight: 700;
}

.collapse-result .card-body .right-part {
    flex: 0 1 15%;
    font-size: 25px;
    font-weight: 500;
    color: #508fd9;
    text-align: center;
}


.collapse-result .card-body .middle-part {
    flex: 0 1 75%;
}

.shift {
    width: 100%;
    text-align: center;
    font-weight: 300;
}

.shift.danger {
    color: #d10007;
}

.collapse-result .card-body .smaller-description {
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
    padding: 10px;
}

.order-block {
    margin: 20px 0;
    box-shadow: 0 0 7px 2px rgb(215, 215, 215);
    border-left: #0069d9 3px solid;
    display: flex;
    border-radius: 10px;
}

.order-block + .order-block {
    margin-top: 40px;
}

.order-block .flight-number {
    flex: 0 1 15%;
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    border-right: #9b9b9b solid 1px;
    text-align: center;
}

.order-block .flight-description {
    flex: 0 1 85%;
    padding: 10px;
    display: flex;
}

.order-block .flight-description .left-part {
    flex: 0 1 7%;
    padding-right: 20px;
}


.order-block .flight-description .middle-part {
    flex: 0 1 78%;
}

.order-block .flight-description .right-part {
    flex: 0 1 15%;
    color: #57abff;
    font-weight: 600;
}

.discounts-block {
    margin: 20px 0;
}

.no-discounts{
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

.info-block {
    display: flex;
}

.info-title {
    font-size: 26px;
    font-weight: 300;
    margin: 15px 0;
}

.info-block + .info-block {
    margin-top: 10px;
}

.info-block .info-key {
    flex: 0 1 200px;
    padding-right: 10px;
    font-weight: 700;
}

.final-price {
    font-size: 25px;
    text-align: right;
    font-weight: 600;
}

.final-price .price {
    color: #57abff;
    transition: .4s;
}

.new-price {
    display: none;
}

.new-price.show {
    display: block;
}

.price.bitted {
    color: #e84444;
    text-decoration: line-through;
}

.user-data-block {
    display: flex;
}

.user-data-block + .user-data-block {
    margin-top: 10px;
}

.user-data-block .key {
    flex: 0 1 15%;
}

.user-data-block .value {
    flex: 0 1 85%;
}

.form-control.bad {
    border-color: #d10007!important;
    box-shadow: none!important;
}

.order-success {
    padding: 5px;
}

.order-success-title {
    font-weight: 600;
    font-size: 30px;
    padding: 15px 0;
}

.order-success-footer {
    font-style: italic;
    text-align: right;
}


.account-order-block {
    margin: 20px 0;
    box-shadow: 0 0 7px 2px rgb(215, 215, 215);
    border-left: #0069d9 3px solid;
    border-radius: 10px;
    padding: 15px;
}

.account-order-header{
    display: flex;
    padding: 10px 0;
}

.account-order-title {
    flex: 0 1 80%;
    font-size: 26px;
    font-weight: 600;
    /*padding-left: 10px;*/
}

.account-order-date {
    flex: 0 1 20%;
    text-align: right;
    font-size: 16px;
    font-weight: 300;
}

.account-order-item {
    margin-top: 30px;
    display: flex;
    margin-bottom: 10px;
}

.account-order-footer {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
    text-align: right;
}

.account-order-left {
    flex: 0 1 30%;
    display: flex;
}

.account-order-middle {
    flex: 0 1 50%;
    display: flex;
}

.account-order-right {
    flex: 0 1 20%;
}

.account-order-key {
    flex: 0 1 15%;
    font-weight: 700!important;
    padding-right: 5px;
}

.account-order-value {
    flex: 0 1 85%;
    padding-right: 5px;
}

.account-order-subtitle {
    font-size: 22px;
    font-weight: 600;
}

.account-order-footer  {
    display: flex;
}

.account-order-footer .price {
    flex: 0 1 80%;
    text-align: right;
    font-size: 25px;
    font-weight: 600;
}

.price-int {
    color: #57abff;
}

.account-order-footer .action-button {
    flex: 0 1 20%;
}


.canceled-flight {
    font-weight: 300;
    font-size: 22px;
}

.main-info {
    font-weight: 600;
}