{% extends 'base.html' %}

{% block title %}
    {% if admin %}
        {{ user.imie }} {{ user.nazwisko }}
    {% else %}
        Moje konto
    {% endif %}
{% endblock %}

{% block header %}
    <div class="container">
        <div class="header-text">
            {% if admin %}
                Użytkownik {{ user.imie }} {{ user.nazwisko }}
            {% else %}
                Moje konto
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                   href="#list-data" role="tab" aria-controls="data">Dane</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                   href="#list-trips" role="tab" aria-controls="trips">Podrózy</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                   href="#list-messages" role="tab" aria-controls="discounts">Rabaty</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-data" role="tabpanel">
                    <div class="subsection-header">
                        {% if admin %}
                            Dane użytkownika
                        {% else %}
                            Twoje dane
                        {% endif %}
                    </div>
                    <form class="user-data" method="post" enctype="multipart/form-data">
                        <div class="user-data-block">
                            <div class="key"><label for="user-name">Imie</label></div>
                            <div class="value">
                                <input id="user-name" name="imie" class="form-control" value="{{ user.imie }}">
                            </div>
                        </div>
                        <div class="user-data-block">
                            <div class="key"><label for="user-surname">Nazwisko</label></div>
                            <div class="value">
                                <input id="user-surname" name="nazwisko" class="form-control"
                                       value="{{ user.nazwisko }}">
                            </div>
                        </div>
                        <div class="user-data-block">
                            <div class="key"><label for="user-email">Email</label></div>
                            <div class="value">
                                <input id="user-email" name="email" class="form-control" value="{{ user.email }}">
                            </div>
                        </div>
                        <div class="user-data-block">
                            <div class="key"><label for="user-password">Nowe hasło</label></div>
                            <div class="value">
                                <input id="user-password" type="password" name="new-password" class="form-control"
                                       placeholder="Password1234">
                            </div>
                        </div>
                        <div class="user-data-block">
                            <div class="key"><label for="user-rpassword">Powtórz hasło</label></div>
                            <div class="value">
                                <input id="user-rpassword" type="password" name="new-password-repeat"
                                       class="form-control" placeholder="Password1234"
                                       onkeyup="checkPasswordMatch('user-password', this)">
                            </div>
                        </div>
                        <div class="user-data-block">
                            <button type="submit" class="btn btn-primary btn-block" name="edit-user">
                                Wyślij
                            </button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="list-trips" role="tabpanel">
                    <div class="subsection-header">
                        {% if admin %}
                            Podróży użytkownika
                        {% else %}
                            Twoje podrózy
                        {% endif %}
                    </div>
                    {% if not podroze|length %}
                        <div class="no-content"></div>
                    {% else %}
                        {% for podroz in podroze %}

                            <div class="account-order-block">
                                <div class="account-order-header">
                                    <div class="account-order-title">
                                        Rezerwacja #{{ podroz.nr_rezerwacji }}
                                    </div>
                                    <div class="account-order-date">
                                        zrealizowane w dniu {{ podroz.get_data_rezerwacji() }}
                                    </div>
                                </div>
                                <div class="account-order-subtitle">{{ podroze[podroz][0].realizacja_lotu.get_from() }}
                                    - {{ podroze[podroz][-1].realizacja_lotu.get_to() }} w
                                    dniu {{ podroze[podroz][0].realizacja_lotu.get_data_show() }}</div>
                                <div class="account-order-list">
                                    {% for idx, polaczenie in enumerate(podroze[podroz]) %}
                                        <div class="account-order-item">
                                            <div class="account-order-left">
                                                <div class="account-order-key">
                                                    <div>Z</div>
                                                    <div>Do</div>
                                                </div>
                                                <div class="account-order-value">
                                                    <div class="account-order-item-from">{{ polaczenie.realizacja_lotu.get_time_show() }} {{ polaczenie.realizacja_lotu.get_from() }}</div>
                                                    <div class="account-order-item-to">{{ polaczenie.realizacja_lotu.get_finish_show() }} {{ polaczenie.realizacja_lotu.get_to() }}</div>
                                                </div>
                                            </div>
                                            <div class="account-order-middle">
                                                <div class="account-order-key">
                                                    <div>Miejsce</div>
                                                    <div>Bagaż</div>
                                                </div>
                                                <div class="account-order-value">
                                                    <div>{{ polaczenie.nr_miejsca }}</div>
                                                    <div>{{ polaczenie.get_bagaz_show() }}</div>
                                                </div>
                                            </div>
                                            <div class="account-order-right">
                                                <div class="account-order-key">
                                                    <div>Trwanie lotu</div>
                                                </div>
                                                <div class="account-order-value">
                                                    <div>{{ polaczenie.realizacja_lotu.get_czas_trwania()[0] }}h {{ polaczenie.realizacja_lotu.get_czas_trwania()[1] }}min</div>
                                                </div>
                                            </div>
                                            <div class="account-order-right">

                                            </div>

                                        </div>
                                        <div class="account-order-footer">
                                            {{ polaczenie.realizacja_lotu.harmonogram_nr_lotu }}
                                        </div>

                                        {% if polaczenie != podroze[podroz][-1] %}
                                            <div class="shift {% if czas_przesiadki(podroze[podroz][idx].realizacja_lotu, podroze[podroz][idx + 1].realizacja_lotu)[0] < 1 %}danger{% endif %}">
                                                przesiadka {{ czas_przesiadki(podroze[podroz][idx].realizacja_lotu, podroze[podroz][idx + 1].realizacja_lotu)[0] }}h {{ czas_przesiadki(podroze[podroz][idx].realizacja_lotu, podroze[podroz][idx + 1].realizacja_lotu)[1] }}min
                                                w {{ podroze[podroz][idx].realizacja_lotu.get_to() }}</div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                                <div class="account-order-footer">
                                    {% if podroze[podroz][0].realizacja_lotu.expired() %}
                                        <button class="btn btn-warning" data-toggle="modal"
                                                data-target="#modal-podroz-remove-{{ podroz.nr_rezerwacji }}">Usuń
                                            rezerwację
                                        </button>
                                    {% else %}
                                        <button class="btn btn-danger" data-toggle="modal"
                                                data-target="#modal-podroz-cancel-{{ podroz.nr_rezerwacji }}">Anuluj
                                            rezerwację
                                        </button>
                                    {% endif %}
                                </div>
                            </div>


                        {% endfor %}
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel">
                    {% if admin %}
                        <div class="btn-div right">
                            <button class="png-btn new-btn" type="button" data-toggle="collapse"
                                    data-target="#collapseNewData"
                                    aria-expanded="false" aria-controls="collapseNewData">
                            </button>
                        </div>
                        <form class="collapse collapse-new" id="collapseNewData" method="post"
                              enctype="multipart/form-data">
                            <div class="card card-body">
                                <div class="subsection-header">Nowy rabat</div>
                                <div class="form-row">
                                    <label for="procent">Zniżka</label>
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" id="procent" name="procent"
                                               value="30">
                                        <div class="input-group-append">
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="data_waznosci">Data ważności</label>
                                    <input id="data_waznosci" name="data_waznosci" type="date" class="form-control">
                                </div>

                                <button type="submit" class="btn btn-primary btn-block" name="new" value="{{ u_id }}">
                                    Dodaj
                                </button>
                            </div>
                        </form>
                        <div class="subsection-header">
                        Rabaty użytkownika

                    {% else %}
                        <div class="subsection-header">
                        Twoje rabaty
                    {% endif %}
                    </div>
                    {% if not rabaty %}
                        <div class="no-content"></div>
                    {% else %}
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>
                                    Kod rabatowy
                                </th>
                                <th>
                                    Procent zniżki
                                </th>
                                <th>
                                    Data ważności
                                </th>
                                <th>
                                    Skopiuj
                                </th>
                                <th>

                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for rabat in rabaty %}
                                <tr>
                                    <th>
                                        <div id="code_{{ rabat.kod }}" class="copy-area">
                                            {{ rabat.kod }}
                                        </div>

                                    </th>
                                    <th>
                                        {{ rabat.procent }}%
                                    </th>
                                    <th>
                                        {{ rabat.get_data_waznosci() }}
                                    </th>

                                    <th>
                                        <input type="button" class="copy-button action-button"
                                               data-placeholder="code_{{ rabat.kod }}">
                                    </th>
                                    <th>
                                        <button class="more-button action-button" data-toggle="modal"
                                                data-target="#modal-rabat-{{ rabat.kod }}"></button>
                                    </th>

                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>




        {% for rabat in rabaty %}

            <div class="modal fade" id="modal-rabat-{{ rabat.kod }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Rabat {{ rabat.kod }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>
                                        Kod rabatowy
                                    </th>
                                    <th>
                                        {{ rabat.kod }}
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        Procent zniżki
                                    </th>
                                    <th>
                                        {{ rabat.procent }}%
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        Data ważności
                                    </th>
                                    <th>
                                        {{ rabat.get_data_waznosci() }}
                                    </th>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" name="remove-rabat" value="{{ rabat.kod }}">
                                Usuń
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        </div>
                    </form>
                </div>
            </div>

        {% endfor %}

        {% for podroz in podroze %}

            <div class="modal fade" id="modal-podroz-cancel-{{ podroz.nr_rezerwacji }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Rezerwacja
                                #{{ podroz.nr_rezerwacji }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Napewno chcesz anulować rezerwację o numerze {{ podroz.nr_rezerwacji }}?<br>
                            Nie dostaniesz żadnych zwrotów za to, natomiast nie będziesz mógł już tego przewrócić
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" name="cancel-podroz"
                                    value="{{ podroz.nr_rezerwacji }}">
                                Anuluj
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal fade" id="modal-podroz-remove-{{ podroz.nr_rezerwacji }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Rezerwacja
                                #{{ podroz.nr_rezerwacji }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Napewno chcesz usunąć z listy zakupów rezerwację o numerze {{ podroz.nr_rezerwacji }}?
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning" name="remove-podroz"
                                    value="{{ podroz.nr_rezerwacji }}">
                                Usuń
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        </div>
                    </form>
                </div>
            </div>

        {% endfor %}

{% endblock %}