{% extends 'base.html' %}

{% block title %}
Moje konto
{% endblock %}

{% block header %}
    <div class="container">
        <div class="header-text">
            Moje konto
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="section-header">
        Twoje podróży:
    </div>
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Godzina
            </th>
            <th>
                Skąd
            </th>
            <th>
                Dokąd
            </th>
            <th>
                Cena
            </th>
            <th>
                Data zamówienia
            </th>
            <th>
                Więcej
            </th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                1.11.2019
            </th>
            <th>
                10:15
            </th>
            <th>
                Poznań
            </th>
            <th>
                Warszawa
            </th>
            <th>
                150 PLN
            </th>
            <th>
                1.1.2019
            </th>
            <th>
                <button class="more-button action-button"></button>
            </th>

        </tr>
        <tr>
            <th>
                10.11.2019
            </th>
            <th>
                10:15
            </th>
            <th>
                Poznań
            </th>
            <th>
                Warszawa
            </th>
            <th>
                100 PLN
            </th>
            <th>
                2.4.2019
            </th>
            <th>
                <button class="more-button action-button"></button>
            </th>
        </tr>
        <tr>
            <th>
                1.12.2019
            </th>
            <th>
                14:00
            </th>
            <th>
                Warszawa
            </th>
            <th>
                Poznań
            </th>
            <th>
                15 PLN
            </th>
            <th>
                3.8.2019
            </th>
            <th>
                <button class="more-button action-button"></button>
            </th>
        </tr>
        </tbody>

    </table>

{% endblock %}