{% extends 'base.html' %}

{% block title %}
    Administrator
{% endblock %}

{% block header %}
    <div class="container">
        <div class="header-text">
            Administrator
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="btn-div right">
        <button class="png-btn new-btn" type="button" data-toggle="collapse" data-target="#collapseNewData"
                aria-expanded="false" aria-controls="collapseNewData">
        </button>
    </div>
    <form class="collapse collapse-new" id="collapseNewData" method="post" enctype="multipart/form-data">
        <div class="card card-body">
            <div class="subsection-header">Nowy użytkownik</div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Imię</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Grzegorz">
            </div>
            <div class="form-group col-md-6">
                <label for="surname">Nazwisko</label>
                <input type="text" id="surname" class="form-control" name="surname" placeholder="Brzęczyszczykiewicz">
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" placeholder="example@example.com" class="form-control">
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password">Haslo</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="Password123">
            </div>
            <div class="form-group col-md-6">
                <label for="password-repeat">Powtórz hasło</label>
                <input type="text" id="password-repeat" class="form-control" name="password-repeat" placeholder="Password123">
            </div>
        </div>

        <div class="form-group">
            <label for="type">Typ konta</label>
            <select id="type" name="type" class="form-control">
                <option value="user" selected>Użytkownik</option>
                <option value="admin">Administrator</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block" name="new">Dodaj</button>
        </div>
    </form>


    <div class="subsection-header">
        Użytkownicy:
    </div>
    {% if not users %}
        <div class="no-content"></div>
    {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Email
                </th>
                <th>
                    Typ konta
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th>
                        {{ user.imie }}
                    </th>
                    <th>
                        {{ user.nazwisko }}
                    </th>
                    <th>
                        {{ user.email }}
                    </th>
                    <th>
                        {{ user.get_type() }}
                    </th>
                    <th>
                        {% if not user.is_admin() %}
                        <form action="{{ url_for('account', user_id=user.user_id) }}">
                            <input type="submit" class="orders-button action-button" value="">
                        </form>
                        {% endif %}
                    </th>
                    <th>
                        <button class="edit-button action-button" data-toggle="modal"
                                data-target="#modal-user-{{ user.user_id }}"></button>
                    </th>
                </tr>
            {% endfor %}

            </tbody>

        </table>
        {% for user in users %}

            <div class="modal fade" id="modal-user-{{ user.user_id }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Zmień dane użytkownika {{ user.imie }} {{ user.nazwisko }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>

                                <tr>
                                    <th>
                                        <label for="edit-name">Imię</label>
                                    </th>
                                    <th>
                                        <input class="form-control" type="text" name="name" id="edit-name"
                                               value="{{ user.imie }}">
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-surname">Nazwisko</label>
                                    </th>
                                    <th>
                                        <input class="form-control" type="text" name="surname" id="edit-surname"
                                               value="{{ user.nazwisko }}">
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-email">Email</label>
                                    </th>
                                    <th>
                                        <input class="form-control" type="email" name="email" id="edit-email"
                                               value="{{ user.email }}">
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-password">Nowe hasło</label>
                                    </th>
                                    <th>
                                        <input class="form-control" type="text" name="password" id="edit-password"
                                               placeholder="Password123">
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-password-repeat">Powtórz hasło</label>
                                    </th>
                                    <th>
                                        <input class="form-control" type="text" name="password-repeat" id="edit-password-repeat"
                                               placeholder="Password123">
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-type">Typ</label>
                                    </th>
                                    <th>
                                        <select class="form-control"  name="u_type" id="edit-type">
                                            <option {% if not user.is_admin() %}selected{% endif %} value="user">Użytkownik</option>
                                            <option {% if user.is_admin() %}selected{% endif %} value="admin">Administrator</option>
                                        </select>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" name="remove" value="{{ user.user_id }}">Usuń
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary" name="edit" value="{{ user.user_id }}">Zapisz
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}

    {% endif %}

{% endblock %}