{% extends 'base.html' %}

{% block title %}
    Lotniska
{% endblock %}

{% block header %}
    <div class="container">
        <div class="header-text">
            Lotniska
        </div>
    </div>

{% endblock %}

{% block content %}

    <button class="new-data new-btn" type="button" data-toggle="collapse" data-target="#collapseNewData"
            aria-expanded="false" aria-controls="collapseNewData">
    </button>
    <form class="collapse collapse-new" id="collapseNewData" method="post" enctype="multipart/form-data">
        <div class="card card-body">
            <div class="subsection-header">Nowe lotnisko</div>
            <div class="form-group">
                <label for="code">Kod międzynarodowy (do 4 znaków)</label>
                <input id="code" type="text" name="code" class="form-control" placeholder="PZN">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="country">Kraj</label>
                    <select id="country" name="country" class="form-control">
                        {% for kraj in kraje %}
                            <option>{{ kraj }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="city">Miasto</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="Poznań">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="time_start">Miejsce na mapie</label>
                    <input type="text" class="form-control" id="map" name="map" placeholder="52.4199508,16.8264271">
                </div>
                <div class="form-group col-md-6">
                    <label for="timezone">Strefa czasowa</label>
                    <select id="timezone" name="timezone" class="form-control">
                        {% for x in range(-11, 15) %}
                            {% if x == 1 %}
                                <option selected>{{ x }}</option>
                            {% else %}
                                <option>{{ x }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block" name="new">Dodaj</button>
        </div>
    </form>


    <div class="subsection-header">
        Istniejące lotniska:
    </div>
    {% if not lotniska %}
        <div class="no-content"></div>
    {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>
                    Kod
                </th>
                <th>
                    Kraj
                </th>
                <th>
                    Miasto
                </th>
                <th>
                    Miejsce na mapie
                </th>
                <th>
                    Strefa czasowa
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for lotnisko in lotniska %}
                <tr id="{{ lotnisko.kod }}">
                    <th>
                        {{ lotnisko.kod }}
                    </th>
                    <th>
                        {{ lotnisko.kraj }}
                    </th>
                    <th>
                        {{ lotnisko.miasto }}
                    </th>
                    <th>
                        {{ lotnisko.m_na_mapie }}
                    </th>
                    <th>
                        {{ lotnisko.strefa_czasowa }}
                    </th>
                    <th>
                        <button class="edit-button action-button" data-toggle="modal"
                                data-target="#modal-lotnisko-{{ lotnisko.kod }}"></button>
                    </th>
                </tr>
            {% endfor %}

            </tbody>

        </table>
        {% for lotnisko in lotniska %}
            <div class="modal fade" id="modal-lotnisko-{{ lotnisko.kod }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Zmień lotnisko {{ lotnisko.kod }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                {#                                <tr>#}
                                {#                                    <th>#}
                                {#                                        <label for="edit-code">Kod</label>#}
                                {#                                    </th>#}
                                {#                                    <th>#}
                                {#                                        <input class="form-control" type="text" name="code" id="edit-code"#}
                                {#                                               value="{{ lotnisko.kod }}">#}
                                {#                                    </th>#}
                                {#                                </tr>#}
                                <tr>
                                    <th>
                                        <label for="edit-country">Kraj</label>
                                    </th>
                                    <th>
                                        <select id="edit-country" name="country" class="form-control">
                                            {% for kraj in kraje %}
                                                {% if kraj == lotnisko.kraj %}
                                                    <option selected>{{ kraj }}</option>
                                                {% else %}
                                                    <option>{{ kraj }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-city">Miasto</label>
                                    </th>
                                    <th>
                                        <input class="form-control" type="text" name="city" id="edit-city"
                                               value="{{ lotnisko.miasto }}">
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-map">Miejsce na mapie</label>
                                    </th>
                                    <th>
                                        <input class="form-control" type="text" name="map" id="edit-map"
                                               value="{{ lotnisko.m_na_mapie }}">
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-timezone">Strefa czasowa</label>
                                    </th>
                                    <th>
                                        <select id="edit-timezone" name="timezone" class="form-control">
                                            {% for x in range(-11, 15) %}
                                                {% if x == lotnisko.strefa_czasowa %}
                                                    <option selected>{{ x }}</option>
                                                {% else %}
                                                    <option>{{ x }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" name="remove" value="{{ lotnisko.kod }}">
                                Usuń
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Zamknij
                            </button>
                            <button type="submit" class="btn btn-primary" name="edit" value="{{ lotnisko.kod }}">
                                Zapisz
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}