{% extends 'base.html' %}

{% block title %}
    Realizacje lotów
{% endblock %}

{% block header %}
    <div class="container">
        <div class="header-text">
            Realizacje lotu
        </div>
    </div>

{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('flights') }}">Harmonogram</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ harm_note.nr_lotu }}</li>
        </ol>
    </nav>

    <div class="btn-div right">
        <button class="png-btn new-btn" type="button" data-toggle="collapse" data-target="#collapseNewData"
                aria-expanded="false" aria-controls="collapseNewData">
        </button>
    </div>
    <form method="post" class="collapse collapse-new" id="collapseNewData" enctype="multipart/form-data">
        <div class="card card-body">
            <div class="subsection-header">Nowa realizacja (ręczne dodawanie)</div>

            Coming soon...
        </div>
    </form>

    <div class="subsection-header">
        Realizacje lotu <span class="underlined">{{ harm_note.nr_lotu }}</span>:
    </div>
    {% if not realizacje %}
        <div class="no-content"></div>
    {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nr lotu
                </th>
                <th>
                    Wylot
                </th>
                <th>
                    Lądowanie
                </th>
                <th>
                    Data
                </th>
                <th>
                    Godzina
                </th>
                <th>
                    Trwanie
                </th>
                <th>
                    Lądowanie
                </th>
                <th>
                    Przewożnik
                </th>
                <th>
                    Zasoby
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for note in realizacje %}
                <tr>
                    <th>
                        {{ note.id_rlotu }}
                        {% if not note.samolot_nr_boczny or not note.pilot_id_pil1 or not note.pilot_id_pil2 %}
                            <span class="badge badge-danger badge-pill">!</span>{% endif %}
                    </th>
                    <th>
                        {{ note.harmonogram.nr_lotu }}
                    </th>
                    <th>
                        {{ note.harmonogram.start_lotnisko_nazwa }}
                    </th>
                    <th>
                        {{ note.harmonogram.finish_lotnisko_nazwa }}
                    </th>
                    <th>
                        {{ note.data }}
                    </th>
                    <th>
                        {{ note.harmonogram.get_start_godzina_show() }}
                    </th>
                    <th>
                        {{ note.harmonogram.czas_trwania }} min
                    </th>
                    <th>
                        {{ note.harmonogram.get_finish_godzina_show() }}
                    </th>
                    <th>
                        <a href="{{ url_for("line_name", line=harm_note.linia_lotnicza_nazwa) }}">{{ note.harmonogram.linia_lotnicza_nazwa }}</a>
                    </th>
                    <th>
                        <div class="flight-status-div">
                            <div class="img-status plane {% if note.samolot_nr_boczny %}active{% endif %}"></div>
                            <div class="img-status pilot {% if note.pilot_id_pil1 %}active{% endif %}"></div>
                            <div class="img-status pilot {% if note.pilot_id_pil2 %}active{% endif %}"></div>
                        </div>

                    </th>
                    <th>
                        <button class="edit-button action-button" data-toggle="modal"
                                data-target="#modal-flights-{{ note.id_rlotu }}"></button>
                    </th>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        {% for note in realizacje %}

            <div class="modal fade" id="modal-flights-{{ note.id_rlotu }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Zmień lot o
                                numerze {{ note.harmonodram_nr_lotu }} w dniu {{ note.data }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>
                                        <label for="edit-{{ note.id_rlotu }}-plane">Samolot</label>
                                    </th>
                                    <th>
                                        <select class="form-control" id="edit-{{ note.id_rlotu }}-plane" name="samolot">
                                            <option></option>
                                            {% if samoloty %}
                                                {% for samolot in samoloty %}
                                                    {% if note.samolot_nr_boczny == samolot.nr_boczny %}
                                                        <option selected value="{{ samolot.nr_boczny }}">
                                                            {{ samolot.nr_boczny }}
                                                            ({{ samolot.marka }}-{{ samolot.model }})
                                                        </option>
                                                    {% else %}
                                                        <option value="{{ samolot.nr_boczny }}">
                                                            {{ samolot.nr_boczny }}
                                                            ({{ samolot.marka }}-{{ samolot.model }})
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-{{ note.id_rlotu }}-pilot-1">Pilot 1</label>
                                    </th>
                                    <th>
                                        <select class="form-control" id="edit-{{ note.id_rlotu }}-pilot-1"
                                                name="pilot-1">
                                            <option></option>
                                            {% if piloci %}
                                                {% for pilot in piloci %}
                                                    {% if note.pilot_id_pil1 == pilot.id_pil %}
                                                        <option selected value="{{ pilot.id_pil }}">
                                                            {{ pilot.id_pil }} ({{ pilot.imie }}-{{ pilot.nazwisko }})
                                                        </option>
                                                    {% else %}
                                                        <option value="{{ pilot.id_pil }}">
                                                            {{ pilot.id_pil }} ({{ pilot.imie }}-{{ pilot.nazwisko }})
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </th>
                                </tr>

                                <tr>
                                    <th>
                                        <label for="edit-{{ note.id_rlotu }}-pilot-2">Pilot 2</label>
                                    </th>
                                    <th>
                                        <select class="form-control" id="edit-{{ note.id_rlotu }}-pilot-2"
                                                name="pilot-2">
                                            <option></option>
                                            {% if piloci %}
                                                {% for pilot in piloci %}
                                                    {% if note.pilot_id_pil2 == pilot.id_pil %}
                                                        <option selected value="{{ pilot.id_pil }}">
                                                            {{ pilot.id_pil }} ({{ pilot.imie }}-{{ pilot.nazwisko }})
                                                        </option>
                                                    {% else %}
                                                        <option value="{{ pilot.id_pil }}">
                                                            {{ pilot.id_pil }} ({{ pilot.imie }}-{{ pilot.nazwisko }})
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </th>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            {#                            <button type="submit" class="btn btn-danger" name="remove" value="{{ note.id_rlotu }}">Usuń#}
                            {#                            </button>#}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary" name="edit" value="{{ note.id_rlotu }}">
                                Zapisz
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}