{% extends 'base.html' %}

{% block header %}
    <div class="container">
        <div class="find-fly shadow">
            <div class="section-header">
                Znajdż swój lot
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Z</span>
                    </div>
                    <input type="text" class="form-control" name="from">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Do</span>
                    </div>
                    <input type="text" class="form-control" name="to">
                </div>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Wylot</span>
                    </div>
                    <input type="date" class="form-control" name="go-date">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Powrót</span>
                    </div>
                    <input type="date" class="form-control" name="return-date">
                </div>

                <button type="submit" class="btn btn-primary" name="find">Szukaj</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="index-info-group">
        <div class="index-info">
            <img src="{{ url_for("static", filename="travel.png") }}" class="logo">
            <div class="index-info-header">
                Wszędzie
            </div>
        </div>


        To Twój świat, a z nami go odkryjesz. Znajdź najlepsze ceny wśród milionów lotów, hoteli i wypożyczalni
        samochodów, aby zaplanować idealną podróż.

    </div>

    <div class="index-info-group">
        <div class="index-info">
            <img src="{{ url_for("static", filename="travel2.jpg") }}" class="logo">
            <div class="index-info-header">
                Prosto
            </div>
        </div>
        Żadnych ukrytych opłat. Żadnych nieczystych zagrań. Z nami zawsze wiesz, dokąd trafiają Twoje pieniądze.
        Zrelaksuj się, zanim zaczniesz urlop.
    </div>
    <div class="index-info-group">
        <div class="index-info">
            <img src="{{ url_for("static", filename="travel3.jpg") }}" class="logo">
            <div class="index-info-header">
                Podróżuj po swojemu
            </div>
        </div>
        Wiesz, dokąd chcesz się udać? Sprawdź, kiedy najlepiej dokonać rezerwacji. Masz więcej czasu? Znajdź okazje
        na
        krótkie wypady i niesamowite przygody
    </div>

{% endblock %}