{% extends 'base.html' %}

{% block title %}
    Linii lotnicze
{% endblock %}

{% block header %}
    <div class="container">
        <div class="header-text">
            Linii lotnicze
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="btn-div right">
        <button class="png-btn new-btn" type="button" data-toggle="collapse" data-target="#collapseNewData"
                aria-expanded="false" aria-controls="collapseNewData">
        </button>
    </div>
    <form method="post" class="collapse collapse-new" id="collapseNewData" enctype="multipart/form-data">
        <div class="card card-body">
            <div class="subsection-header">
                Nowa linia lotnicza:
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="from">Nazwa</label>
                    <input type="text" class="form-control" id="nazwa" name="nazwa" placeholder="LOT">
                </div>
                <div class="form-group col-md-6">
                    <label for="kraj">Kraj</label>
                    <select id="kraj" class="form-control" name="kraj">
                        {% for kraj in kraje %}
                            <option>{{ kraj }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block" name="new">Dodaj</button>
        </div>
    </form>

    <div class="subsection-header">
        Linii lotnicze:
    </div>
    {% if not linie %}
        <div class="no-content"></div>
    {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>
                    Nazwa
                </th>
                <th>
                    Kraj
                </th>
                <th>
                    Samoloty
                </th>
                <th>
                    Piloci
                </th>
                <th>
                    Loty
                </th>
                <th>
                    Data założenia
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for linia in linie %}
                <tr>
                    <th>
                        <a href="{{ url_for('line_name', line=linia.nazwa) }}">{{ linia.nazwa }}</a>
                    </th>
                    <th>
                        {{ linia.kraj }}
                    </th>
                    <th>
                        {{ linia.liczba_samolotow() }}
                    </th>
                    <th>
                        {{ linia.liczba_pilotow() }}
                    </th>
                    <th>
                        {{ linia.liczba_lotow() }}
                    </th>
                    <th>
                        {{ linia.get_data_zalozenia() }}
                    </th>
                    <th>
                        <button class="edit-button action-button" data-toggle="modal"
                                data-target="#modal-edit-linia-{{ linia.get_nazwa_safe() }}"></button>
                    </th>
                    <th>
                        <button class="delete-button action-button" data-toggle="modal"
                                data-target="#modal-delete-linia-{{ linia.get_nazwa_safe() }}"></button>
                    </th>
                </tr>
            {% endfor %}

            </tbody>

        </table>
        {% for linia in linie %}

            <div class="modal fade" id="modal-edit-linia-{{ linia.get_nazwa_safe() }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Zmień linię {{ linia.nazwa }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>
                                        <label for="edit-{{ linia.nazwa }}-kraj">Kraj</label>
                                    </th>
                                    <th>
                                        <select id="kraj" class="form-control" name="kraj">
                                            {% for kraj in kraje %}
                                                {% if kraj == linia.kraj %}
                                                    <option selected>{{ kraj }}</option>
                                                {% else %}
                                                    <option>{{ kraj }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </th>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary" name="edit" value="{{ linia.nazwa }}">Zapisz
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal fade" id="modal-delete-linia-{{ linia.get_nazwa_safe() }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Usuń linię {{ linia.nazwa }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Czy napewno chcesz usunąć linię lotniczą <span class="main-info">{{ linia.nazwa }}</span>?
                            To spowoduję, że zostaną usunięte wszystkie harmonogramy związane z tą linią, realizacji lotów,
                            co oznacza, że wszystkie zamówienia, związane z tymi realizacjami zostaną anulowane.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-danger" name="remove" value="{{ linia.nazwa }}">Usuń
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}

    {% endif %}

{% endblock %}