{% extends 'base.html' %}

{% block title %}
    {{ linia.nazwa }}
{% endblock %}

{% block header %}
    <div class="container">
        <div class="header-text">
            {{ linia.nazwa }}
        </div>
    </div>

{% endblock %}

{% block content %}

    {#    <div class="section-header">Informacja dotycząca linii lotniczej {{ linia.nazwa }}:</div>#}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('lines') }}">Linie lotnicze</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ linia.nazwa }}</li>
        </ol>
    </nav>


    <div class="btn-div right">
        <button class="png-btn new-btn" type="button" data-toggle="collapse" data-target="#collapseNewDataPlane"
                aria-expanded="false" aria-controls="collapseNewDataPlane">
        </button>
    </div>
    <form method="post" class="collapse collapse-new" id="collapseNewDataPlane" enctype="multipart/form-data">
        <div class="card card-body">
            <div class="subsection-header">
                Nowy samolot:
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="from">Number boczny</label>
                    <input type="text" class="form-control" id="nr_boczny" name="nr_boczny" placeholder="XXX1234">
                </div>
                <div class="form-group col-md-6">
                    <label for="from">Maksymalny zasięg (km)</label>
                    <input type="number" class="form-control" id="zasieg" name="zasieg" placeholder="1200">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="from">Marka</label>
                    <input type="text" class="form-control" id="marka" name="marka" placeholder="TU">
                </div>
                <div class="form-group col-md-6">
                    <label for="from">Model</label>
                    <input type="text" class="form-control" id="model" name="model" placeholder="104">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="from">Pojemność (osób)</label>
                    <input type="number" class="form-control" id="pojemnosc" name="pojemnosc" placeholder="100">
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block" name="new-samolot">Dodaj</button>
        </div>
    </form>

    <div class="subsection-header">
        Samoloty:
    </div>
    {% if not samoloty %}
        <div class="no-content"></div>
    {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>
                    Nr boczny
                </th>
                <th>
                    Max zasięg
                </th>
                <th>
                    Marka-Model
                </th>
                <th>
                    Przebieg
                </th>
                <th>
                    Pojemność
                </th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for samolot in samoloty %}
                <tr>
                    <th>
                        {{ samolot.nr_boczny }}
                    </th>
                    <th>
                        {{ samolot.max_zasieg }}
                    </th>
                    <th>
                        {{ samolot.marka }}-{{ samolot.model }}
                    </th>
                    <th>
                        {{ samolot.przebieg }}
                    </th>
                    <th>
                        {{ samolot.pojemnosc }}
                    </th>

                    <th>
                        <button class="edit-button action-button" data-toggle="modal"
                                data-target="#modal-samolot-{{ samolot.nr_boczny }}"></button>
                    </th>
                </tr>
            {% endfor %}

            </tbody>

        </table>
        {% for samolot in samoloty %}

            <div class="modal fade" id="modal-samolot-{{ samolot.nr_boczny }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Zmień informację o
                                samolocie {{ samolot.nr_boczny }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" name="remove-samolot"
                                    value="{{ samolot.nr_boczny }}">Usuń
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary" name="edit-samolot"
                                    value="{{ samolot.nr_boczny }}">Zapisz
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <hr style="margin: 50px 0">

    <div class="btn-div right">
        <button class="png-btn new-btn" type="button" data-toggle="collapse" data-target="#collapseNewDataPilot"
                aria-expanded="false" aria-controls="collapseNewDataPilot">
        </button>
    </div>
    <form method="post" class="collapse collapse-new" id="collapseNewDataPilot" enctype="multipart/form-data">
        <div class="card card-body">
            <div class="subsection-header">
                Nowy pilot:
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="from">Imię</label>
                    <input type="text" class="form-control" id="new-imie" name="imie" placeholder="Grzegosz">
                </div>
                <div class="form-group col-md-6">
                    <label for="from">Nazwisko</label>
                    <input type="text" class="form-control" id="new-nazwisko" name="nazwisko"
                           placeholder="Brzęczyszczykiewicz">
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block" name="new-pilot">Dodaj</button>
        </div>
    </form>

    <div class="subsection-header">Piloci</div>

    {% if not piloci %}
        <div class="no-content"></div>
    {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Data zatrudnienia
                </th>


                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for pilot in piloci %}
                <tr>
                    <th>
                        {{ pilot.id_pil }}
                    </th>
                    <th>
                        {{ pilot.imie }}
                    </th>
                    <th>
                        {{ pilot.nazwisko }}
                    </th>
                    <th>
                        {{ pilot.data_dolaczenia }}
                    </th>


                    <th>
                        <button class="edit-button action-button" data-toggle="modal"
                                data-target="#modal-samolot-{{ pilot.id_pil }}"></button>
                    </th>
                </tr>
            {% endfor %}

            </tbody>

        </table>
        {% for pilot in piloci %}

            <div class="modal fade" id="modal-samolot-{{ pilot.id_pil }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Zmień dane
                                pilota {{ pilot.imie }} {{ pilot.nazwisko }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>
                                        <label for="edit-{{ pilot.id_pil }}-name">Imię</label>
                                    </th>
                                    <th>
                                        <input class="form-control" type="text" name="name"
                                               id="edit-{{ pilot.id_pil }}-name"
                                               value="{{ pilot.imie }}">
                                    </th>

                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-{{ pilot.id_pil }}-surname">Nazwisko</label>
                                    </th>
                                    <th>
                                        <input class="form-control" type="text" name="surname"
                                               id="edit-{{ pilot.id_pil }}-surname"
                                               value="{{ pilot.nazwisko }}">
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" name="remove-pilot" value="{{ pilot.id_pil }}">
                                Usuń
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Zamknij
                            </button>
                            <button type="submit" class="btn btn-primary" name="edit-pilot" value="{{ pilot.id_pil }}">
                                Zapisz
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <hr style="margin: 50px 0">

    <div class="subsection-header">
        Harmonogram lotów:
    </div>
    {% if not harmonogram %}
        <div class="no-content"></div>
    {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>
                    Numer
                </th>
                <th>
                    Wylot
                </th>
                <th>
                    Lądowanie
                </th>
                <th>
                    Dzień tygodnia
                </th>
                <th>
                    Start
                </th>
                <th>
                    Lądowanie
                </th>
                <th>
                    Cena
                </th>
            </tr>
            </thead>
            <tbody>
            {% for wpis in harmonogram %}
                <tr>
                    <th>
                        <a href="{{ url_for("flight", nr_lotu=wpis.nr_lotu) }}">{{ wpis.nr_lotu }}</a>
                    </th>
                    <th>
                        <a href="{{ url_for("airports") }}#{{ wpis.start_lotnisko_nazwa }}">{{ wpis.start_lotnisko_nazwa }}</a>
                    </th>
                    <th>
                        <a href="{{ url_for("airports") }}#{{ wpis.finish_lotnisko_nazwa }}">{{ wpis.finish_lotnisko_nazwa }}</a>
                    </th>
                    <th>
                        {{ wpis.get_dzien_tygodnia() }}
                    </th>
                    <th>
                        {{ wpis.get_start_godzina() }}
                    </th>
                    <th>
                        {{ wpis.get_finish_godzina() }}
                    </th>
                    <th>
                        {{ wpis.cena_podstawowa }} zł
                    </th>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% endif %}

{% endblock %}