{% extends 'base.html' %}

{% block title %}
    {{ linia.nazwa }}
{% endblock %}

{% block header %}
    <div class="container">
        <div class="header-text">
            {{ linia.nazwa }}
        </div>
    </div>

{% endblock %}

{% block content %}

    {#    <div class="section-header">Informacja dotycząca linii lotniczej {{ linia.nazwa }}:</div>#}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('lines') }}">Linie lotnicze</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ linia.nazwa }}</li>
        </ol>
    </nav>

    <div class="section-header">
        Dodaj nowy samolot dla tej linii lotniczej:
    </div>
    <form method="post" enctype="multipart/form-data">


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="from">Number boczny</label>
                <input type="text" class="form-control" id="nr_boczny" name="nr_boczny" placeholder="XXX1234">
            </div>
            <div class="form-group col-md-6">
                <label for="from">Maksymalny zasięg (km)</label>
                <input type="number" class="form-control" id="zasieg" name="zasieg" placeholder="1200">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="from">Marka</label>
                <input type="text" class="form-control" id="marka" name="marka" placeholder="TU">
            </div>
            <div class="form-group col-md-6">
                <label for="from">Model</label>
                <input type="text" class="form-control" id="model" name="model" placeholder="104">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="from">Pojemność (osób)</label>
                <input type="number" class="form-control" id="pojemnosc" name="pojemnosc" placeholder="100">
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block" name="new-samolot">Dodaj</button>
    </form>

    <hr>

    <div class="section-header">
        Istniejące samoloty:
    </div>
    {% if not samoloty %}
        <div class="no-content"></div>
    {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>
                    Nr boczny
                </th>
                <th>
                    Max zasięg
                </th>
                <th>
                    Marka
                </th>
                <th>
                    Model
                </th>
                <th>
                    Przebieg
                </th>
                <th>
                    Pojemność
                </th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for samolot in samoloty %}
                <tr>
                    <th>
                        {{ samolot.nr_boczny }}
                    </th>
                    <th>
                        {{ samolot.max_zasieg }}
                    </th>
                    <th>
                        {{ samolot.marka }}
                    </th>
                    <th>
                        {{ samolot.model }}
                    </th>
                    <th>
                        {{ samolot.przebieg }}
                    </th>
                    <th>
                        {{ samolot.pojemnosc }}
                    </th>

                    <th>
                       <button class="edit-button action-button" data-toggle="modal" data-target="#modal-samolot-{{ samolot.nr_boczny }}"></button>
                    </th>
                </tr>
            {% endfor %}

            </tbody>

        </table>
        {% for samolot in samoloty %}

            <div class="modal fade" id="modal-samolot-{{ samolot.nr_boczny }}" tabindex="-1" role="dialog"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Zmień informację o samolocie {{ samolot.nr_boczny }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" name="remove" value="{{ samolot.nr_boczny }}">Usuń</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary" name="edit" value="{{ samolot.nr_boczny }}">Zapisz</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}