{% extends 'base.html' %}

{% block title %}
    Harmonogram lotów
{% endblock %}

{% block header %}
    <div class="container">
        <div class="header-text">
            Harmonogram lotów
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="btn-div right">
        <form method="post" enctype="multipart/form-data" style="display: inline; margin-right: 15px">
            <button class="update-btn png-btn" type="submit" name="update-all">
            </button>
        </form>
        <button class="png-btn new-btn" type="button" data-toggle="collapse" data-target="#collapseNewData"
                aria-expanded="false" aria-controls="collapseNewData">
        </button>
    </div>
    <form method="post" class="collapse collapse-new" id="collapseNewData" enctype="multipart/form-data">
        <div class="card card-body">
            <div class="subsection-header">Nowy wpis</div>
            <div class="form-group">
                <label for="nr_flight">Numer lotu (8 znaków)</label>
                <input type="text" class="form-control" id="nr_flight" name="nr_flight" placeholder="LOT12345">
            </div>

            <div class="form-group">
                <label for="line">Linia lotnicza</label>
                <select id="line" name="line" class="form-control">
                    {% if linie %}
                        {% for linia in linie %}
                            <option>{{ linia.nazwa }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="from">Skąd</label>
                    <select class="form-control" id="from" name="from">
                        {% if lotniska %}
                            {% for lotnisko in lotniska %}
                                <option value="{{ lotnisko.kod }}">{{ lotnisko.miasto }} ({{ lotnisko.kod }})</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="to">Dokąd</label>
                    <select class="form-control" id="to" name="to">
                        {% if lotniska %}
                            {% for lotnisko in lotniska %}
                                <option value="{{ lotnisko.kod }}">{{ lotnisko.miasto }} ({{ lotnisko.kod }})</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="day">Dzień tygodnia</label>
                <select id="day" name="day" class="form-control">
                    {% for day in days %}
                        <option value="{{ day }}">{{ days[day] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="time_start">Godzina wylotu</label>
                    <input type="time" class="form-control" id="time_start" name="time_start" value="10:00">
                </div>
                <div class="form-group col-md-6">
                    <label for="duration">Gzas trwania</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="duration" name="czas_trwania" placeholder="90">
                        <div class="input-group-append">
                            <span class="input-group-text">min</span>
                        </div>
                    </div>
                </div>
            </div>
            <label for="price">Cena podstawowa</label>
            <div class="input-group mb-3">

                <div class="input-group-prepend">
                    <span class="input-group-text">PLN</span>
                </div>
                <input type="number" class="form-control" id="price" name="price" placeholder="50">
            </div>
            <button type="submit" class="btn btn-primary btn-block" name="new">Dodaj</button>
        </div>
    </form>



    <div class="subsection-header">
        Aktualny harmonogram lotów:
        <input class="form-control search-field" id="search-schedule" data-target="schedule-table"
               placeholder="Wpisz numer lotu żeby filtrować">
    </div>
    {% if not harmonogram %}
        <div class="no-content"></div>
    {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>
                    Numer
                </th>
                <th>
                    Wylot
                </th>
                <th>
                    Lądowanie
                </th>
                <th>
                    Dzień tygodnia
                </th>
                <th>
                    Start
                </th>
                <th>
                    Czas podróży
                </th>
                <th>
                    Lądowanie
                </th>
                <th>
                    Cena
                </th>
                <th>
                    Linia lotnicza
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody id="schedule-table">
            {% for wpis in harmonogram %}
                <tr>
                    <th>
                        <a href="{{ url_for("flight", nr_lotu=wpis.nr_lotu) }}">{{ wpis.nr_lotu }}</a>
                    </th>
                    <th>
                        <a href="{{ url_for("airports") }}#{{ wpis.start_lotnisko_nazwa }}">{{ wpis.start_lotnisko_nazwa }}</a>
                    </th>
                    <th>
                        <a href="{{ url_for("airports") }}#{{ wpis.finish_lotnisko_nazwa }}">{{ wpis.finish_lotnisko_nazwa }}</a>
                    </th>
                    <th>
                        {{ wpis.get_dzien_tygodnia() }}
                    </th>
                    <th>
                        {{ wpis.get_start_godzina() }}
                    </th>
                    <th>
                        {{ wpis.czas_trwania }} min
                    </th>
                    <th>
                        {{ wpis.get_finish_godzina() }}
                    </th>
                    <th>
                        {{ wpis.cena_podstawowa }} zł
                    </th>
                    <th>
                        <a href="{{ url_for("line_name", line=wpis.linia_lotnicza_nazwa) }}">{{ wpis.linia_lotnicza_nazwa }}</a>
                    </th>
                    <th>
                        <button class="edit-button action-button" data-toggle="modal"
                                data-target="#modal-schedule-{{ wpis.nr_lotu }}"></button>
                    </th>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        {% for wpis in harmonogram %}

            <div class="modal fade" id="modal-schedule-{{ wpis.nr_lotu }}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form class="modal-content" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Zmień harmonogram o
                                numerze {{ wpis.nr_lotu }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>
                                        <label for="edit-{{ wpis.nr_lotu }}-line">Linia lotnicza</label>
                                    </th>
                                    <th>
                                        <select class="form-control" id="edit-{{ wpis.nr_lotu }}-line" name="line">
                                            {% if linie %}
                                                {% for linia in linie %}
                                                    {% if linia.nazwa == wpis.linia_lotnicza_nazwa %}
                                                        <option selected>
                                                            {{ linia.nazwa }}
                                                        </option>
                                                    {% else %}
                                                        <option>
                                                            {{ linia.nazwa }}
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-{{ wpis.nr_lotu }}-from">Skąd</label>
                                    </th>
                                    <th>
                                        <select class="form-control" id="edit-{{ wpis.nr_lotu }}-from" name="from">
                                            {% if lotniska %}
                                                {% for lotnisko in lotniska %}
                                                    {% if lotnisko.kod == wpis.start_lotnisko_nazwa %}
                                                        <option selected
                                                                value="{{ lotnisko.kod }}">{{ lotnisko.miasto }}
                                                            ({{ lotnisko.kod }})
                                                        </option>
                                                    {% else %}
                                                        <option value="{{ lotnisko.kod }}">{{ lotnisko.miasto }}
                                                            ({{ lotnisko.kod }})
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-{{ wpis.nr_lotu }}-to">Dokąd</label>
                                    </th>
                                    <th>
                                        <select class="form-control" id="edit-{{ wpis.nr_lotu }}-to" name="to">
                                            {% if lotniska %}
                                                {% for lotnisko in lotniska %}
                                                    {% if lotnisko.kod == wpis.finish_lotnisko_nazwa %}
                                                        <option selected
                                                                value="{{ lotnisko.kod }}">{{ lotnisko.miasto }}
                                                            ({{ lotnisko.kod }})
                                                        </option>
                                                    {% else %}
                                                        <option value="{{ lotnisko.kod }}">{{ lotnisko.miasto }}
                                                            ({{ lotnisko.kod }})
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </th>

                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-{{ wpis.nr_lotu }}-day">Dzień tygodnia</label>
                                    </th>
                                    <th>
                                        <select id="edit-{{ wpis.nr_lotu }}-day" name="day" class="form-control">
                                            {% for day in days %}
                                                {% if day == wpis.dzien_tygodnia %}
                                                    <option selected value="{{ day }}">{{ days[day] }}</option>
                                                {% else %}
                                                    <option value="{{ day }}">{{ days[day] }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </th>
                                </tr>

                                <tr>
                                    <th>
                                        <label for="edit-{{ wpis.nr_lotu }}-time_start">Godzina wylotu</label>
                                    </th>
                                    <th>
                                        <input type="time" class="form-control" id="edit-{{ wpis.nr_lotu }}-time_start"
                                               name="time_start"
                                               value={{ wpis.start_godzina }}>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-{{ wpis.nr_lotu }}-duration">Czas trwania</label>
                                    </th>
                                    <th>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control"
                                                   id="edit-{{ wpis.nr_lotu }}-duration"
                                                   name="czas_trwania"
                                                   value={{ wpis.czas_trwania }}>
                                            <div class="input-group-append">
                                                <span class="input-group-text">min</span>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="edit-{{ wpis.nr_lotu }}-price">Cena podstawowa</label>
                                    </th>
                                    <th>
                                        <label for="edit-{{ wpis.nazwa }}-price">Cena podstawowa</label>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" id="edit-{{ wpis.nazwa }}-price"
                                                   name="price" value={{ wpis.cena_podstawowa }}>
                                            <div class="input-group-append">
                                                <span class="input-group-text">zł</span>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" name="remove" value="{{ wpis.nr_lotu }}">Usuń
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary" name="edit" value="{{ wpis.nr_lotu }}">
                                Zapisz
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}