{% extends 'base.html' %}

{% block title %}
    Harmonogram lotów
{% endblock %}

{% block header %}
    <div class="container">
        <div class="header-text">
            Harmonogram lotów
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="section-header">
        Nowy wpis:
    </div>
    <form method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="line">Linia lotnicza</label>
            <select id="line" name="line" class="form-control">
                {% if linie %}
                    {% for linia in linie %}
                        <option>{{ linia.nazwa }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="from">Skąd</label>
            <select class="form-control" id="from" name="from">
                {% if lotniska %}
                    {% for lotnisko in lotniska %}
                        <option value="{{ lotnisko.kod }}">{{ lotnisko.miasto }} ({{ lotnisko.kod }})</option>
                    {% endfor %}
                {% endif %}
            </select>
            </div>
            <div class="form-group col-md-6">
                <label for="to">Dokąd</label>
                <select class="form-control" id="to" name="to">
                {% if lotniska %}
                    {% for lotnisko in lotniska %}
                        <option value="{{ lotnisko.kod }}">{{ lotnisko.miasto }} ({{ lotnisko.kod }})</option>
                    {% endfor %}
                {% endif %}
            </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="time_start">Godzina wylotu</label>
                <input type="time" class="form-control" id="time_start" name="time_start" value="10:00">
            </div>
            <div class="form-group col-md-6">
                <label for="time_finish">Godzina lądowania</label>
                <input type="time" class="form-control" id="time_finish" name="time_finish" value="11:00">
            </div>
        </div>
        <label for="price">Cena podstawowa</label>
        <div class="input-group mb-3">

            <div class="input-group-prepend">
                <span class="input-group-text">PLN</span>
            </div>
            <input type="number" class="form-control" id="price" name="price" placeholder="50">
        </div>
        <button type="submit" class="btn btn-primary btn-block" name="new">Dodaj</button>
    </form>

    <hr>

    <div class="section-header">
        Harmonogram lotów sortowany wg numeru lotów:
    </div>

    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>
                Numer
            </th>
            <th>
                Wylot
            </th>
            <th>
                Lądowanie
            </th>
            <th>
                Dzień tygodnia
            </th>
            <th>
                Godzina
            </th>
            <th>
                Czas podróży
            </th>
            <th>
                Cena
            </th>
            <th>
                Linia lotnicza
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                LOT1234
            </th>
            <th>
                Poznań
            </th>
            <th>
                Warszawa
            </th>
            <th>
                Poniedziałek
            </th>
            <th>
                10:15
            </th>
            <th>
                0:50
            </th>
            <th>
                50 zł
            </th>
            <th>
                LOT
            </th>
            <th>
                <button class="edit-button action-button"></button>
            </th>
        </tr>
        <tr>
            <th>
                LOT1235
            </th>
            <th>
                Poznań
            </th>
            <th>
                Warszawa
            </th>
            <th>
                Środa
            </th>
            <th>
                10:15
            </th>
            <th>
                0:50
            </th>
            <th>
                150 zł
            </th>
            <th>
                LOT
            </th>
            <th>
                <button class="edit-button action-button"></button>
            </th>
        </tr>
        <tr>
            <th>
                LOT1236
            </th>
            <th>
                Poznań
            </th>
            <th>
                Warszawa
            </th>
            <th>
                Czwartek
            </th>
            <th>
                10:15
            </th>
            <th>
                0:50
            </th>
            <th>
                70 zł
            </th>
            <th>
                LOT
            </th>
            <th>
                <button class="edit-button action-button"></button>
            </th>
        </tr>
        </tbody>

    </table>

{% endblock %}